@media (min-width: 768px) {
    .banner {
        .banner-content {
            .title {
                font-size: 3.25rem;
            }

            .subtitle {
                font-size: 1.125rem;
            }
        }

        .banner-ilustrations {
            .image {
                &.top {
                    left: -50px;
                }

                &.bottom {
                    right: -150px;
                }
            }
        }
    }

    .main {
        .cards-list {
            .card-item {
                padding: $spacer * 2.5 $spacer * 1;
            }
        }

        .section {
            &.section-two {
                background-size: contain;

                .title {
                    font-size: 3.25rem;
                    font-weight: 700;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    body {
        background-size: contain;
    }

    .header {
        .header-brand {
            img {
                max-width: 243px;
            }
        }
    }

    .main {
        .cards-list {
            .card-item {
                padding: $spacer * 4.5 $spacer * 2.5;

                .icon-area {
                    width: 175px;
                    height: 175px;
                    border-width: 8px;

                    .icon {
                        font-size: 4.5rem;
                    }
                }

                .title {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .banner {
        .banner-content {
            .title {
                font-size: 4.25rem;
            }

            .subtitle {
                font-size: 1.25rem;
            }
        }

        .banner-ilustrations {
            .image {
                &.overshadowed {
                    display: block;
                }

                &.top {
                    right: 118px;
                    top: 13px;
                    left: unset;
                }

                &.bottom {
                    right: 227px;
                }
            }
        }
    }

    .main {
        .cards-list {
            .top {
                margin-top: -25px;
            }

            .bottom {
                margin-top: 75px;
            }

            .card-item {}
        }

        .section {
            &.section-two {
                min-height: 1115px;
                background-size: contain;

                .title {
                    font-size: 4.75rem;

                    &::before,
                    &::after {
                        border-width: 20px;
                    }

                    &::before {
                        border-right-width: 0;
                    }

                    &::after {
                        border-left-width: 0;
                    }
                }

                .subtitle {
                    font-size: 1.25rem;
                    color: $dark;
                }
            }
        }
    }
}