@media (min-width: 768px) {
    .banner {
        .banner-content {
            .title {
                font-size: 3.25rem;
            }

            .subtitle {
                font-size: 1.125rem;
            }
        }

        .banner-ilustrations {
            .image {
                &.top {
                    left: -50px;
                }

                &.bottom {
                    right: -150px;
                }
            }
        }
    }

    .main {
        .cards-list {
            .card-item {
                padding: $spacer * 2.5 $spacer * 1;
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        .header-brand {
            img {
                max-width: 243px;
            }
        }
    }

    .main {
        .cards-list {
            .card-item {
                padding: $spacer * 4.5 $spacer * 2.5;

                .icon-area {
                    width: 175px;
                    height: 175px;
                    border-width: 8px;

                    .icon {
                        font-size: 4.5rem;
                    }
                }

                .title {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .banner {
        .banner-content {
            .title {
                font-size: 4.25rem;
            }

            .subtitle {
                font-size: 1.25rem;
            }
        }

        .banner-ilustrations {
            .image {
                &.overshadowed {
                    display: block;
                }

                &.top {
                    right: 118px;
                    top: 13px;
                    left: unset;
                }

                &.bottom {
                    right: 227px;
                }
            }
        }
    }

    .main {
        .cards-list {
            .top {
                margin-top: -25px;
            }

            .bottom {
                margin-top: 75px;
            }

            .card-item {}
        }
    }
}