$sidebar-width: 225px;

$primary: #9335B5;
$primary-light: #A33BC8;
$primary-dark: #7D2A9A;

$secondary: #3E8AFF;
$secondary-light: #649FF9;
$secondary-dark: #387DE9;

$light: #F3F3F3;
$light-light: #F9F9F9;
$light-dark: #EDEDED;

$dark: #343434;
$dark-light: #444444;
$dark-dark: #181818;

$blue: #598ec7 !default;
$indigo: rgb(131, 101, 179) !default;
$purple: #8b7baa !default;
$pink: #c6598c !default;
$red: rgb(217, 120, 130) !default;
$orange: #e7934e !default;
$yellow: #e2c262 !default;
$green: #77c189 !default;
$teal: #6fd5b7 !default;
$cyan: #6abcc8 !default;

$theme-colors: (
    "primary": $primary,
    "primary-light": $primary-light,
    "primary-dark": $primary-dark,

    "secondary": $secondary,
    "secondary-light": $secondary-light,
    "secondary-dark": $secondary-dark,

    "light": $light,
    "light-light": $light-light,
    "light-dark": $light-dark,

    "dark": $dark,
    "dark-light": $dark-light,
    "dark-dark": $dark-dark,
    ) !default;